<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa, atque nam ut vero voluptates, aliquam dolores labore earum placeat, ducimus deleniti at dolor qui accusantium itaque similique voluptas porro.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel commodi reiciendis dolore totam ipsum ex in beatae officiis sapiente, accusamus iusto nisi ab fugit dolorem, deleniti ut inventore suscipit nostrum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptates nemo enim non assumenda numquam maiores provident suscipit vero? Porro sit consectetur commodi labore at alias quia enim ut incidunt.
    </p>
</article>